{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Biopark Imóveis - Apartamento</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>
<body>

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/logo-background.png' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/biopark-logo.png' %}" alt="Logo" class="tm-site-logo" />
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{% url 'index' %}" class="tm-nav-link">Página Inicial</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">{{ apartamento.titulo }}</h2>
				<div class="col-md-6 text-center">
					<figure>
						<img src="{{ apartamento.imagem.url }}" class="img-fluid tm-gallery-img" alt="{{ apartamento.titulo }}">
					</figure>
				</div>
				<div class="col-md-6">
					<p class="tm-gallery-letters-description"><strong>Código:</strong> {{ apartamento.id }}</a></p>
					<p class="tm-gallery-letters-description"><strong>Edifício:</strong> {{ apartamento.edificio.nome }}</a></p>
					<p class="tm-gallery-letters-description"><strong>Endereço:</strong> {{ apartamento.edificio.rua }} Nº {{ apartamento.edificio.numero }} {{ apartamento.edificio.complemento }}</a></p>
					<p class="tm-gallery-letters-description"><strong>Cidade:</strong> {{ apartamento.edificio.cidade }}</a></p>
					<p class="tm-gallery-letters-description"><strong>Descrição:</strong> {{ apartamento.descricao }}</p>
					<p class="tm-gallery-letters-description"><strong>Nº de quartos:</strong> {{ apartamento.numero_quartos }}</p>
					<p class="tm-gallery-letters-description"><strong>Nº de banheiros:</strong> {{ apartamento.numero_banheiros }}</p>
					<p class="tm-gallery-price"><strong>R$:</strong> {{ apartamento.preco }}/mês</p>
				</div>
			</header>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="col-12" >{% bootstrap_messages %}</div>
				<div class="row">
					<div class="col-md-6">
						<h2 class="col-12 tm-section">Preencha e alugue já!</h2>
							<form class="form col-12 text-right " action="{% url 'immobile' apartamento.id 1 %}" method="post" autocomplete="off" enctype="multipart/form-data">
								{% csrf_token %}
								{% bootstrap_form form_cliente %}
								{% if apartamento.alugado %}
									<p class="text-center">Apartamento indiponível.</p>
									<p><strong>Alugado por:</strong> {{ cliente.nome }}</p>
									<p><strong>E-mail do locatário:</strong> {{ cliente.email }}</a></p>
									<p><strong>CPF do locatário:</strong> {{ cliente.cpf }}</a></p>
								{% else %}
									{% buttons %}
										<button type="submit" class="tm-btn tm-btn-danger">Alugar</button>
									{% endbuttons %}
								{% endif %}
							</form>
					</div>
					<div class="col-md-6">
						<div class="tm-address-box">
							<h4 class="tm-info-title tm-text-danger">Nosso Endenreço</h4>
							<address>
								Avenida Max Planck, 3797.<br>Edifício Charles Darwin, Toledo - PR, 85919-899
							</address>
							<a href="tel:(45) 2036-3601" class="tm-contact-link">
								<i class="fas fa-phone tm-contact-icon"></i>(45) 2036-3601
							</a>
							<a href="mailto:info@company.co" class="tm-contact-link">
								<i class="fas fa-envelope tm-contact-icon"></i>negocios@biopark.com.br
							</a>
							<div class="tm-contact-social">
								<a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
								<a href="#" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								<a href="#" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner-2 tm-map-section">
				<div class="row">
					<div class="col-12">
						<div class="tm-map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11196.961132529668!2d-43.38581128725845!3d-23.011063013218724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bdb695cd967b7%3A0x171cdd035a6a9d84!2sAv.%20L%C3%BAcio%20Costa%20-%20Barra%20da%20Tijuca%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%20Brazil!5e0!3m2!1sen!2sth!4v1568649412152!5m2!1sen!2sth" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>

			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2023 Biopark

            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	{% bootstrap_javascript jquery='full' %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.maxHeight) {
						panel.style.maxHeight = null;
					} else {
						panel.style.maxHeight = panel.scrollHeight + "px";
					}
				});
			}
		});
	</script>
</body>
</html>
