{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Biopark Imóveis - Cadastrar</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/logo-background.png' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/biopark-logo.png' %}" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{% url 'index' %}" class="tm-nav-link">Página Inicial</a></li>
								<li class="tm-nav-li"><a href="{% url 'register' pg=3 %}" class="tm-nav-link  active">Cadastrar</a></li>
								<li class="tm-nav-li"><a href="{% url 'sec-bio' %}" class="tm-nav-link">Administrar</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<div class="col-12" >{% bootstrap_messages %}</div>
				<h2 class="col-12 text-center tm-section-title ">Novo edifício</h2>
				<form class="form col-12 text-right" action="{% url 'register' pg=0 %}" method="post" autocomplete="off" enctype="multipart/form-data">
					{% csrf_token %}
					{% bootstrap_form form_edificio %}
					{% buttons %}
						<button type="submit" class="tm-btn tm-btn-danger">Cadastrar edifício</button>
					{% endbuttons %}
				</form>
				<h2 class="col-12 text-center tm-section-title">Novo apartamento</h2>
				<form class="form col-12 text-right " action="{% url 'register' pg=1 %}" method="post" autocomplete="off" enctype="multipart/form-data">
					{% csrf_token %}
					{% bootstrap_form form_apartamento %}
					{% buttons %}
						<button type="submit" class="tm-btn tm-btn-danger">Cadastrar apartamento</button>
					{% endbuttons %}
				</form>
			</header>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2023 Biopark
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	{% bootstrap_javascript jquery='full' %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.maxHeight) {
						panel.style.maxHeight = null;
					} else {
						panel.style.maxHeight = panel.scrollHeight + "px";
					}
				});
			}
		});
	</script>
</body>
</html>
